
    <div class="form-group">
        <label for="name">Name <span class="text-danger">*</span></label>
        <input id="name" type="text" class="form-control" name="name" ng-model="formData.name" required>
        <label class="text-danger" ng-show="RegForm.name.$error.required">Name is required.</label>
    </div>
    
    <div class="form-group">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input id="email" type="email" class="form-control" name="email" ng-model="formData.email" required>
        <label class="text-danger" ng-show="RegForm.email.$error.required">Email is required.</label>
        <label class="text-danger" ng-show="RegForm.email.$invalid">It must be a valid email.</label>
    </div>
    
    <div class="form-group">
        <label for="password">Password <span class="text-danger">*</span></label>
        <input id="password" type="password" class="form-control" name="password" ng-model="formData.password" required>
        <label class="text-danger" ng-show="RegForm.password.$error.required">Valid email is required.</label>
    </div>
    
    
    <button type="submit" ng-disabled="RegForm.$invalid" class="btn btn-danger">Submit</button>
