<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  
      <div class="page-header text-center">
          <h2>Aptilo - Registration Flow Prototype</h2>
          
          
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".step1"><span>1</span> Mobile No</a>
              <a ui-sref-active="active" ui-sref=".step2"><span>2</span> Verification</a>
              <a ui-sref-active="active" ui-sref=".step3"><span>3</span> Registration</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form name="RegForm" id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view=""></div>
      </form>
  
  </div>
  
  <!-- show our formData as it is being typed -->
    <p>This portion is to for developers assistance only and will be hidden when publically deployed.</p>
  <pre>
    {{ formData }}
  </pre>

</div>
</div>

