<div class="form-group">
    <label for="validationcode">Validation Code <span class="text-danger">*</span></label>
    <input id="validationcode" type="text" class="form-control" name="validationcode" ng-model="formData.validationcode" required>
    <label class="text-danger" ng-show="RegForm.validationcode.$touched && RegForm.validationcode.$error.required">Validation code is required.</label>
</div>


<p>&nbsp;</p>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.step3" ng-disabled="RegForm.$invalid" class="btn btn-block btn-info">Verify  <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
</div>