<p>Register for an account with an imaginary telecom operator</p>
<p>&nbsp;</p>

<div class="form-group">
    <label for="mobileno">Mobile Number <span class="text-danger">*</span></label>
    <input id="mobileno" type="text" class="form-control" name="mobileno" ng-model="formData.mobileno" ng-minlength="3" ng-maxlength="8" required>
    <label class="text-danger" ng-show="RegForm.mobileno.$touched && RegForm.mobileno.$error.required">Mobile number is required.</label>
    <label class="text-danger" ng-show="RegForm.mobileno.$error.minlength || RegForm.mobileno.$error.maxlength">Mobile number must be between 3 to 8 characters long.</label>

</div>

<p>&nbsp;</p>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.step2" ng-disabled="RegForm.$invalid" class="btn btn-block btn-info">Verification <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
</div>